.div343,
.link93 {
  position: relative;
}
.div343 {
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.margin199,
.paragraph5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph5 {
  flex-direction: row;
  padding: 0 var(--padding-1251xl) 0 var(--padding-10xs);
  gap: var(--gap-7xs);
}
.margin199 {
  flex-direction: column;
  padding: 0 0 var(--padding-61xl);
}
.div344 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.heading-13,
.heading-1margin5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-1margin5 {
  padding: 0 0 var(--padding-31xl);
  text-align: center;
  font-size: var(--ice-cafe-russo-one-regular-96-upper-size);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.div345 {
  position: relative;
  line-height: 24px;
}
.link94,
.linkmargin9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkmargin9 {
  position: absolute;
  top: 8px;
  left: 0;
  padding: 0 var(--padding-base) 0 0;
}
.fgs16-whatsapp-roundedsvg3 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.fgs16-whatsapp-roundedsvg-fil1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.fgs16-whatsapp-roundedsvg2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  max-width: 40px;
}
.container1110 {
  width: 40px;
  border-radius: var(--br-7xs);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 28px;
  max-width: 64px;
  min-height: 28px;
  max-height: 64px;
}
.container1110,
.link95,
.margin202 {
  align-items: flex-start;
}
.link95 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.margin202 {
  flex-direction: column;
  padding: 0 var(--padding-9xs) var(--padding-5xs);
}
.container1108,
.margin201,
.margin202 {
  display: flex;
  justify-content: flex-start;
}
.container1108 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.margin201 {
  position: absolute;
  top: 0;
  left: 211.8px;
  flex-direction: column;
  align-items: flex-start;
}
.container1107 {
  position: absolute;
  width: calc(100% - 0.3px);
  top: 0;
  right: 0.3px;
  left: 0;
  height: 40px;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.div346 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-height: 30.01px;
}
.container1113,
.container1114 {
  position: absolute;
  width: calc(100% - 0.3px);
  top: 60px;
  right: 0.3px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1114 {
  top: 110px;
}
.a3 {
  position: relative;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-height: 30.01px;
}
.container1115 {
  position: absolute;
  width: calc(100% - 0.3px);
  top: 160px;
  right: 0.3px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.draqanovazina1984gmailcom8 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  max-height: 30.01px;
}
.container1116,
.container1117,
.link97 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1116,
.container1117 {
  position: absolute;
  width: calc(100% - 0.3px);
  right: 0.3px;
  left: 0;
  flex-direction: column;
}
.container1116 {
  top: 210px;
  color: var(--color-royalblue);
}
.container1117 {
  top: 260px;
}
.linkmargin10 {
  align-self: stretch;
  width: 60px;
  min-height: 60px;
}
.container1118 {
  position: absolute;
  width: calc(100% + 9.7px);
  top: 304px;
  right: -4.7px;
  left: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1106 {
  align-self: stretch;
  position: relative;
  height: 364px;
}
.container1105 {
  align-self: stretch;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1104,
.margin200 {
  align-self: stretch;
  align-items: flex-start;
  box-sizing: border-box;
}
.margin200 {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.container1104 {
  height: 457px;
  padding: var(--padding-13xl) 0 var(--padding-77xl);
  font-size: var(--font-size-lg);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container1102,
.container1103,
.container1104 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1103 {
  width: 1500px;
  align-items: flex-start;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container1102 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-191xl);
}
.ice-cafe14 {
  position: relative;
  text-transform: uppercase;
}
.container1123 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1157.92px;
}
.container1122,
.link98,
.linkmargin13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.link98,
.linkmargin13 {
  flex-direction: column;
  padding: var(--padding-3xs) 0 var(--padding-mid);
}
.linkmargin13 {
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xl);
}
.container1127,
.container1128 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.container1128 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
}
.container1127 {
  flex-direction: row;
  justify-content: center;
}
.div350 {
  position: relative;
  text-transform: lowercase;
}
.container1126,
.container1129,
.link99 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link99 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.container1126,
.container1129 {
  flex-direction: column;
}
.container1129 {
  align-self: stretch;
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-montserrat-alternates-regular-16-lower);
}
.container1126 {
  width: 100%;
  gap: var(--gap-xl);
  max-width: 375px;
}
.container1125 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container1125,
.container1132,
.link101 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link101 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-lg);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container1132 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-40xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container1142,
.container1143 {
  align-self: stretch;
  width: 156px;
}
.container1143 {
  width: 272px;
}
.container1141,
.link104 {
  align-self: stretch;
  justify-content: flex-start;
}
.container1141 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-lg);
}
.link104 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xl);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.container1121,
.container1124,
.link104 {
  display: flex;
  align-items: flex-start;
}
.container1124 {
  align-self: stretch;
  height: 168px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--ice-cafe-play-regular-16);
}
.container1121 {
  width: 1500px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1500px;
}
.container1153 {
  align-self: stretch;
  flex: 1;
  max-width: 429.97px;
}
.container1150,
.container1151 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1151 {
  width: 100%;
  padding: var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 150px;
  max-width: 499.97px;
}
.container1150 {
  align-self: stretch;
  flex: 1;
  max-width: 1500px;
}
.ice-cafe-company7 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.container1149 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs-1) 0 0;
}
.background44,
.background45 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
}
.background45 {
  width: 1500px;
  background: linear-gradient(#fff, #fff), #fff;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1500px;
  font-size: var(--font-size-mid);
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-play-regular-16);
}
.background44 {
  width: 1920px;
  height: 544px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-52xl);
  box-sizing: border-box;
}
.background43,
.container1119,
.container1120 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1120 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-91xl);
}
.background43,
.container1119 {
  align-items: flex-start;
}
.container1119 {
  align-self: stretch;
  font-size: var(--font-size-115xl-4);
  font-family: var(--font-montserrat);
}
.background43 {
  width: 1920px;
  margin: 0 !important;
  position: absolute;
  top: 136px;
  left: 0;
  background: linear-gradient(#fff, #fff), #fff;
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
  min-height: 1200px;
  z-index: 0;
}
.container1172,
.svgexport-7-7svg-icon7 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgexport-7-7svg-icon7 {
  position: relative;
}
.container1172 {
  border-radius: var(--br-231xl);
  flex-direction: column;
  justify-content: center;
}
.cofe7,
.container1172,
.link105 {
  display: flex;
  align-items: flex-start;
}
.link105 {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
}
.cofe7 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
}
.ice-cafe15 {
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.container1173,
.container1175 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container1175 {
  justify-content: flex-start;
  max-width: 103.91px;
}
.container1173 {
  flex: 1;
  justify-content: center;
  padding: var(--padding-3xl-5) 0;
}
.container1171,
.home22 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container1171 {
  align-items: flex-start;
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.home22 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.container1178 {
  width: 95px;
  height: 19px;
}
.container1179 {
  width: 70px;
  height: 19px;
}
.list7 {
  height: 49px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container1176,
.list7,
.margin204,
.zakazat14 {
  display: flex;
  justify-content: flex-start;
}
.container1176 {
  flex-direction: row;
  align-items: center;
}
.margin204,
.zakazat14 {
  align-items: flex-start;
}
.margin204 {
  width: 995px;
  flex-direction: column;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--ice-cafe-black-70);
}
.zakazat14 {
  border-radius: var(--br-231xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
}
.container1170,
.div359 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div359 {
  justify-content: center;
  font-size: var(--ice-cafe-play-bold-15-upper-size);
  color: var(--ice-cafe-nero);
}
.container1170 {
  align-self: stretch;
  justify-content: space-between;
}
.container1169 {
  width: 1500px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  max-width: 1500px;
}
.contacty8,
.container1168,
.container1169 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container1168 {
  width: 1920px;
  margin: 0 !important;
  position: absolute;
  top: 2px;
  left: 0;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-191xl);
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--ice-cafe-cod-gray);
}
.contacty8 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 1530px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-play-regular-16);
}
