.container979,
.svgexport-7-7svg-icon6 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgexport-7-7svg-icon6 {
  position: relative;
}
.container979 {
  border-radius: var(--br-231xl);
  flex-direction: column;
  justify-content: center;
}
.cofe6,
.container979,
.link81 {
  display: flex;
  align-items: flex-start;
}
.link81 {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
}
.cofe6 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
}
.ice-cafe12 {
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.container981,
.container982 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.container982 {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 103.91px;
}
.container981 {
  flex-direction: row;
  justify-content: center;
}
.link82 {
  flex-direction: row;
  justify-content: flex-start;
}
.container978,
.container980,
.link82 {
  display: flex;
  align-items: flex-start;
}
.container980 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xl-5) 0;
}
.container978 {
  flex-direction: row;
  justify-content: flex-start;
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.div261 {
  position: relative;
}
.home17,
.item42 {
  display: flex;
  justify-content: flex-start;
}
.home17 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.item42 {
  flex-direction: column;
  align-items: flex-start;
}
.container985 {
  width: 95px;
  height: 19px;
}
.container986 {
  width: 70px;
  height: 19px;
}
.list6 {
  height: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.container983,
.container984,
.margin191 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container983,
.margin191 {
  align-items: center;
  justify-content: flex-start;
}
.margin191 {
  width: 995px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--ice-cafe-black-70);
}
.b12 {
  position: relative;
  text-transform: uppercase;
}
.zakazat12,
.zakazat13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zakazat13 {
  align-self: stretch;
  flex-direction: column;
}
.zakazat12 {
  border-radius: var(--br-231xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
}
.container977,
.div266 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div266 {
  justify-content: center;
  font-size: var(--ice-cafe-play-bold-15-upper-size);
  color: var(--ice-cafe-nero);
}
.container977 {
  align-self: stretch;
  justify-content: space-between;
}
.container975,
.container976 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container976 {
  width: 1500px;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  max-width: 1500px;
}
.container975 {
  width: 1920px;
  align-items: center;
  padding: 0 var(--padding-191xl);
  color: var(--ice-cafe-cod-gray);
}
.div268 {
  position: relative;
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.home20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-1260xl-4) 0 var(--padding-10xs);
  gap: var(--gap-7xs);
}
.div270,
.home19,
.home20 {
  align-self: stretch;
}
.home19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-61xl);
}
.div270 {
  position: relative;
  text-transform: uppercase;
}
.heading-1margin4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  text-align: center;
  font-size: var(--ice-cafe-russo-one-regular-96-upper-size);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.breakfast-1jpg-icon7 {
  width: 80px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  max-width: 80px;
}
.container995 {
  width: 80px;
  border-radius: var(--br-21xl);
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div271 {
  align-self: stretch;
  position: relative;
  line-height: 28.8px;
  font-weight: 300;
}
.container998 {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 190px;
  min-height: 1px;
}
.span55 {
  font-weight: 300;
}
.div272 {
  align-self: stretch;
  position: relative;
  line-height: 28.8px;
}
.heading-461 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.container997,
.container999 {
  display: flex;
  align-items: flex-start;
}
.container999 {
  width: 95px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 95px;
  min-height: 1px;
  text-align: right;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
}
.container997 {
  width: 285px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.div273 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 300;
}
.container1000 {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--font-open-sans);
}
.container1000,
.container996,
.margin192 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container996 {
  align-self: stretch;
  align-items: center;
}
.margin192 {
  width: 270px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.horizontalborder53,
.horizontalborder54,
.horizontalborder55 {
  position: absolute;
  width: calc(100% - 30px);
  top: 81.6px;
  right: 15px;
  left: 15px;
  border-bottom: 1px dashed var(--quantifiable-mosquitostaticdomains-silver);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
}
.horizontalborder54,
.horizontalborder55 {
  top: 192.6px;
}
.horizontalborder55 {
  top: 303.6px;
}
.container994 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 380px;
  min-height: 1px;
}
.div280 {
  position: relative;
  line-height: 33.6px;
}
.heading-38 {
  position: absolute;
  width: calc(100% - 30px);
  top: -0.8px;
  right: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-96xl) var(--padding-12xs-8);
  box-sizing: border-box;
  text-align: center;
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
}
.container1025 {
  align-self: stretch;
  height: 24px;
}
.container991,
.container993 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
}
.container993 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container991 {
  height: 444px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 1140px;
}
.container-icon54 {
  position: absolute;
  top: calc(50% - 48px);
  left: 0;
  border-radius: var(--br-21xl);
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.heading-474 {
  position: absolute;
  top: 9.6px;
  left: 95px;
  line-height: 28.8px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 147.3px;
  height: 28.8px;
}
.heading-4-container93 {
  width: 100%;
}
.div291,
.heading-4-container92 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4-container92 {
  top: 9.8px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 63px;
  height: 29px;
}
.div291 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 120px;
  height: 24px;
}
.horizontalborder60 {
  position: absolute;
  width: calc(100% - 30px);
  top: 81.6px;
  right: 15px;
  left: 15px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.div292,
.heading-4-container94 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4-container94 {
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 65px;
  height: 29px;
}
.div292 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 112px;
  height: 24px;
}
.horizontalborder61 {
  position: absolute;
  width: calc(100% - 30px);
  top: 192.6px;
  right: 15px;
  left: 15px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.container1039 {
  position: absolute;
  height: calc(100% - 140.4px);
  width: calc(100% - 730px);
  top: 140.4px;
  right: 745px;
  bottom: 0;
  left: -15px;
}
.heading-39 {
  top: -0.4px;
  left: calc(50% - 131px);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
  line-height: 33.6px;
  text-align: center;
  justify-content: center;
  width: 261px;
  height: 33px;
}
.div293,
.div294,
.heading-39,
.heading-4-container96 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4-container96 {
  top: 9.8px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 64px;
  height: 29px;
}
.div293,
.div294 {
  top: 47px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 209px;
  height: 24px;
}
.div294 {
  width: 239px;
}
.container1040 {
  position: absolute;
  height: calc(100% - 140.4px);
  width: calc(100% - 730px);
  top: 140.4px;
  right: 365px;
  bottom: 0;
  left: 365px;
}
.div295 {
  position: absolute;
  top: 47px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  display: flex;
  align-items: center;
  width: 171px;
  height: 24px;
}
.horizontalborder64 {
  position: absolute;
  width: calc(100% - 760px);
  top: 222px;
  right: 0;
  left: 760px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.section9 {
  width: 1110px;
  position: relative;
  height: 429px;
}
.div296,
.heading-4-container104 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div296 {
  top: 46.4px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 100.5px;
  height: 24px;
}
.heading-4-container104 {
  top: 9.8px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 57px;
  height: 29px;
}
.div297 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 160px;
  height: 24px;
}
.div297,
.div298,
.heading-4-container106 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4-container106 {
  top: 9.8px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 58px;
  height: 29px;
}
.div298 {
  top: 46.8px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 189px;
  height: 24px;
}
.horizontalborder67 {
  position: absolute;
  width: calc(100% - 30px);
  top: 303.6px;
  right: 15px;
  left: 15px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.div299,
.heading-310 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-310 {
  top: -0.3px;
  left: calc(50% - 118px);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
  line-height: 33.6px;
  text-align: center;
  justify-content: center;
  width: 223px;
  height: 33px;
}
.div299 {
  top: 46.8px;
  width: 122px;
}
.div299,
.div300,
.div301 {
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  height: 24px;
}
.div300 {
  position: absolute;
  top: 47px;
  display: flex;
  align-items: center;
  width: 127px;
}
.div301 {
  top: 46.8px;
  width: 198px;
}
.div301,
.div302,
.heading-4-container116 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div302 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 177px;
  height: 24px;
}
.heading-4-container116 {
  top: 9.8px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 125px;
  height: 29px;
}
.container1043 {
  position: absolute;
  height: calc(100% - 140.4px);
  width: calc(100% - 730px);
  top: 140.4px;
  right: -15px;
  bottom: 0;
  left: 745px;
}
.section10 {
  width: 1110px;
  position: relative;
  height: 553px;
}
.div304 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 192px;
  height: 24px;
}
.div304,
.div305,
.heading-4-container120 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4-container120 {
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 64px;
  height: 29px;
}
.div305 {
  top: 46px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 121px;
  height: 24px;
}
.heading-4-container122 {
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 66px;
  height: 29px;
}
.div308,
.heading-311,
.heading-4-container122 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-311 {
  top: -0.8px;
  left: calc(50% - 60px);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
  line-height: 33.6px;
  text-align: center;
  justify-content: center;
  width: 120.4px;
  height: 33.6px;
}
.div308 {
  top: 46.8px;
  left: 95px;
  font-size: var(--ice-cafe-play-regular-16-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-open-sans);
  width: 114px;
  height: 24px;
}
.section11 {
  width: 1110px;
  position: relative;
  height: 545px;
}
.heading-4-container128,
.heading-4-container130,
.heading-4-container132,
.heading-4-container134 {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  display: flex;
  align-items: center;
  width: 103px;
  height: 29px;
}
.heading-4-container130,
.heading-4-container132,
.heading-4-container134 {
  width: 99px;
}
.heading-4-container132,
.heading-4-container134 {
  right: -12px;
  width: 155px;
}
.heading-4-container134 {
  top: 9.9px;
  right: 0;
  width: 116px;
}
.horizontalborder81 {
  position: absolute;
  width: calc(100% - 30px);
  top: 414.7px;
  right: 15px;
  left: 15px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.heading-4-container136,
.heading-4-container142,
.heading-4-container144 {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  display: flex;
  align-items: center;
  width: 108px;
  height: 29px;
}
.heading-4-container142,
.heading-4-container144 {
  top: 9.9px;
}
.heading-4-container144 {
  top: 10px;
  width: 115px;
}
.section12 {
  width: 1110px;
  position: relative;
  height: 651px;
}
.heading-4104 {
  position: absolute;
  top: 10px;
  left: 95px;
  line-height: 28.8px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 192px;
  height: 28px;
}
.heading-4-container154 {
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  width: 68px;
  height: 29px;
}
.heading-313,
.heading-4-container154,
.heading-4109 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-313 {
  top: -0.3px;
  left: calc(50% - 113px);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
  line-height: 33.6px;
  text-align: center;
  justify-content: center;
  width: 264px;
  height: 34px;
}
.heading-4109 {
  top: 10px;
  left: 95px;
  line-height: 28.8px;
  font-weight: 300;
  width: 172px;
  height: 28px;
}
.section13 {
  width: 1110px;
  position: relative;
  height: 540px;
}
.heading-4-container166,
.heading-4-container170 {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 28.8px;
  color: var(--quantifiable-mosquitostaticdomains-pale-sky);
  text-align: right;
  display: flex;
  align-items: center;
  width: 122px;
  height: 29px;
}
.heading-4-container170 {
  width: 114px;
}
.section14 {
  width: 1110px;
  position: relative;
  height: 544px;
}
.heading-315,
.heading-4115 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-4115 {
  top: 10px;
  left: 95px;
  line-height: 28.8px;
  font-weight: 300;
  width: 203px;
  height: 28px;
}
.heading-315 {
  top: -0.2px;
  left: calc(50% - 111px);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-regular-28-size
  );
  line-height: 33.6px;
  text-align: center;
  justify-content: center;
  width: 221px;
  height: 34px;
}
.horizontalborder105 {
  position: absolute;
  width: calc(100% - 760px);
  top: 222px;
  right: 15px;
  left: 745px;
  border-bottom: 1px dashed var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 96px;
}
.section15 {
  width: 1110px;
  position: relative;
  height: 444px;
}
.section8 {
  align-self: stretch;
  height: 4079px;
  align-items: center;
  padding: var(--padding-111xl) var(--padding-341xl);
}
.container988,
.container989,
.section8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container989 {
  align-self: stretch;
  height: 3654px;
  align-items: flex-start;
  padding: var(--padding-xs) 0 var(--padding-13xl);
  font-size: var(
    --quantifiable-mosquitostaticdomains-josefin-sans-light-24-size
  );
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--quantifiable-mosquitostaticdomains-josefin-sans-light-24);
}
.container988 {
  width: 1500px;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-5xl);
  max-width: 1500px;
}
.container1057,
.container987 {
  align-self: stretch;
  justify-content: flex-start;
}
.container987 {
  height: 4760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-191xl);
  box-sizing: border-box;
  font-size: var(--ice-cafe-play-regular-16-size);
}
.container1057 {
  max-width: 1157.92px;
}
.container1057,
.container1062,
.link86,
.linkmargin8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link86 {
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-mid);
}
.container1062,
.linkmargin8 {
  justify-content: flex-start;
}
.linkmargin8 {
  padding: 0 0 var(--padding-11xl);
}
.container1062 {
  align-self: stretch;
  flex: 1;
  max-width: 335px;
}
.div338 {
  position: relative;
  text-transform: lowercase;
}
.link87 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.container1063 {
  align-self: stretch;
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-montserrat-alternates-regular-16-lower);
}
.container1059,
.container1060,
.container1063 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1060 {
  width: 100%;
  gap: var(--gap-xl);
  max-width: 375px;
}
.container1059 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.div340 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-height: 30.01px;
}
.container1066,
.link89 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link89 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-lg);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container1066 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-40xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.draqanovazina1984gmailcom7 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  max-height: 30.01px;
}
.container1076,
.container1077 {
  align-self: stretch;
  width: 156px;
}
.container1077 {
  width: 272px;
}
.container1075 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.div341 {
  position: relative;
  line-height: 24px;
}
.link92 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xl);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.container1055,
.container1058,
.link92 {
  display: flex;
  align-items: flex-start;
}
.container1058 {
  align-self: stretch;
  height: 168px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--ice-cafe-play-regular-16);
}
.container1055 {
  width: 1500px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1500px;
}
.container1087 {
  align-self: stretch;
  flex: 1;
  max-width: 429.97px;
}
.container1084,
.container1085 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1085 {
  width: 100%;
  padding: var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 150px;
  max-width: 499.97px;
}
.container1084 {
  align-self: stretch;
  flex: 1;
  max-width: 1500px;
}
.ice-cafe-company6 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.container1083 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs-1) 0 0;
}
.background41,
.background42 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
}
.background42 {
  width: 1500px;
  background: linear-gradient(#fff, #fff), #fff;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1500px;
  font-size: var(--font-size-mid);
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-play-regular-16);
}
.background41 {
  width: 1920px;
  height: 544px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-52xl);
  box-sizing: border-box;
  font-size: var(--font-size-115xl-4);
  font-family: var(--font-montserrat);
}
.div260,
.menu13,
.menu14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div260 {
  width: 1920px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #fff;
  flex-direction: column;
  min-height: 1200px;
  z-index: 0;
}
.menu13,
.menu14 {
  position: relative;
}
.menu14 {
  flex: 1;
  background: linear-gradient(#fff, #fff), #fff;
  height: 5438px;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
}
.menu13 {
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-play-regular-16);
}
