.div361,
.link110 {
  position: relative;
}
.div361 {
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.margin205,
.paragraph6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph6 {
  flex-direction: row;
  padding: 0 var(--padding-1251xl) 0 var(--padding-10xs);
  gap: var(--gap-7xs);
}
.margin205 {
  flex-direction: column;
  padding: 0 0 var(--padding-61xl);
}
.div362 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.heading-14,
.heading-1margin6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-1margin6 {
  padding: 0 0 var(--padding-31xl);
  text-align: center;
  font-size: var(--ice-cafe-russo-one-regular-96-upper-size);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.p58 {
  margin: 0;
}
.div363 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.margin208 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
}
.container-icon100 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
}
.container1189,
.margin210 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1189 {
  width: 80px;
  border-radius: var(--br-21xl);
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 140px;
  max-height: 140px;
}
.margin210 {
  width: 92px;
  height: 92px;
  padding: 0 var(--padding-xs) var(--padding-xs) 0;
  box-sizing: border-box;
  max-width: 152px;
  max-height: 152px;
}
.div364 {
  position: relative;
  line-height: 19.2px;
}
.container1190 {
  flex-direction: column;
  align-items: flex-start;
}
.container1188,
.container1190,
.margin211 {
  display: flex;
  justify-content: flex-start;
}
.margin211 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-xs);
}
.container1188 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.margin209 {
  justify-content: flex-start;
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.container1186,
.margin207,
.margin209 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container1186 {
  height: 248px;
  justify-content: flex-start;
}
.margin207 {
  width: 494.7px;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container1185,
.container1191 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1191 {
  align-self: stretch;
  height: 236px;
  flex-direction: column;
}
.container1185 {
  width: 1484px;
  flex-direction: row;
  flex-wrap: wrap;
}
.div368 {
  position: relative;
  line-height: 18px;
}
.link111 {
  border-radius: var(--br-7xs);
  background-color: var(--ice-cafe-cornflower-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.5px var(--padding-13xl) var(--padding-base-5);
  box-sizing: border-box;
  min-height: 50px;
  cursor: pointer;
}
.container1184,
.container1201 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1201 {
  width: 1472px;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-1247xl-2) 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--ice-cafe-nero);
}
.container1184 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-4xl);
}
.container1182,
.margin206 {
  align-self: stretch;
  align-items: flex-start;
  box-sizing: border-box;
}
.margin206 {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.container1182 {
  height: 457px;
  padding: var(--padding-13xl) 0 var(--padding-77xl);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container1180,
.container1181,
.container1182 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1181 {
  width: 1500px;
  align-items: flex-start;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container1180 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-191xl);
}
.ice-cafe16 {
  position: relative;
  text-transform: uppercase;
}
.container1206 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1157.92px;
}
.container1205,
.link112,
.linkmargin14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.link112,
.linkmargin14 {
  flex-direction: column;
  padding: var(--padding-3xs) 0 var(--padding-mid);
}
.linkmargin14 {
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xl);
}
.container1210,
.container1211 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.container1211 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
}
.container1210 {
  flex-direction: row;
  justify-content: center;
}
.div370 {
  position: relative;
  text-transform: lowercase;
}
.link113 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.container1212 {
  align-self: stretch;
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-montserrat-alternates-regular-16-lower);
}
.container1208,
.container1209,
.container1212 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1209 {
  width: 100%;
  gap: var(--gap-xl);
  max-width: 375px;
}
.container1208 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.div372 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-height: 30.01px;
}
.container1215,
.link115 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link115 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-lg);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container1215 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-40xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.draqanovazina1984gmailcom10 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  max-height: 30.01px;
}
.container1225,
.container1226 {
  align-self: stretch;
  width: 156px;
}
.container1226 {
  width: 272px;
}
.container1224 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.div373 {
  position: relative;
  line-height: 24px;
}
.link118 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xl);
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.container1204,
.container1207,
.link118 {
  display: flex;
  align-items: flex-start;
}
.container1207 {
  align-self: stretch;
  height: 168px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--ice-cafe-play-regular-16);
}
.container1204 {
  width: 1500px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1500px;
}
.container1236 {
  align-self: stretch;
  flex: 1;
  max-width: 429.97px;
}
.container1233,
.container1234 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1234 {
  width: 100%;
  padding: var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 150px;
  max-width: 499.97px;
}
.container1233 {
  align-self: stretch;
  flex: 1;
  max-width: 1500px;
}
.ice-cafe-company8 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.container1232 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs-1) 0 0;
}
.background47,
.background48 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
}
.background48 {
  width: 1500px;
  background: linear-gradient(#fff, #fff), #fff;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1500px;
  font-size: var(--font-size-mid);
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-play-regular-16);
}
.background47 {
  width: 1920px;
  height: 544px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-52xl);
  box-sizing: border-box;
}
.background46,
.container1202,
.container1203 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1203 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-91xl);
}
.background46,
.container1202 {
  align-items: flex-start;
}
.container1202 {
  align-self: stretch;
  font-size: var(--font-size-115xl-4);
  font-family: var(--font-montserrat);
}
.background46 {
  width: 1920px;
  margin: 0 !important;
  position: absolute;
  top: 136px;
  left: 0;
  background: linear-gradient(#fff, #fff), #fff;
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
  min-height: 1200px;
  z-index: 0;
}
.container1255,
.svgexport-7-7svg-icon8 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgexport-7-7svg-icon8 {
  position: relative;
}
.container1255 {
  border-radius: var(--br-231xl);
  flex-direction: column;
  justify-content: center;
}
.cofe8,
.container1255,
.link119 {
  display: flex;
  align-items: flex-start;
}
.link119 {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
}
.cofe8 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
}
.ice-cafe17 {
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.container1256,
.container1258,
.link120 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1258 {
  align-self: stretch;
  flex-direction: column;
  max-width: 103.91px;
}
.container1256,
.link120 {
  flex-direction: row;
}
.container1256 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xl-5) 0;
}
.container1254,
.home24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container1254 {
  align-items: flex-start;
  font-family: var(--ice-cafe-russo-one-regular-96-upper);
}
.home24 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.container1261 {
  width: 95px;
  height: 19px;
}
.container1262 {
  width: 70px;
  height: 19px;
}
.list8 {
  height: 49px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container1259,
.list8,
.margin222,
.zakazat16 {
  display: flex;
  justify-content: flex-start;
}
.container1259 {
  flex-direction: row;
  align-items: center;
}
.margin222,
.zakazat16 {
  align-items: flex-start;
}
.margin222 {
  width: 995px;
  flex-direction: column;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--ice-cafe-black-70);
}
.zakazat16 {
  border-radius: var(--br-231xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
}
.container1253,
.div379 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div379 {
  justify-content: center;
  font-size: var(--ice-cafe-play-bold-15-upper-size);
  color: var(--ice-cafe-nero);
}
.container1253 {
  align-self: stretch;
  justify-content: space-between;
}
.container1252 {
  width: 1500px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  max-width: 1500px;
}
.container1251,
.container1252,
.otzivi8 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container1251 {
  width: 1920px;
  margin: 0 !important;
  position: absolute;
  top: 2px;
  left: 0;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-191xl);
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--ice-cafe-cod-gray);
}
.otzivi8 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 1530px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-play-regular-16);
}
